<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>homework</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>myservlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerLogin</display-name>
    <servlet-name>ManagerLogin</servlet-name>
    <servlet-class>myservlet.ManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogin</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userServlet</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>myservlet.userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeServlet</display-name>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>myservlet.CodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/CodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllBooksServlet</display-name>
    <servlet-name>AllBooksServlet</servlet-name>
    <servlet-class>myservlet.AllBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllBooksServlet</servlet-name>
    <url-pattern>/AllBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBooksServlet</display-name>
    <servlet-name>SearchBooksServlet</servlet-name>
    <servlet-class>myservlet.SearchBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBooksServlet</servlet-name>
    <url-pattern>/SearchBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchLookServlet</display-name>
    <servlet-name>SearchLookServlet</servlet-name>
    <servlet-class>myservlet.SearchLookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchLookServlet</servlet-name>
    <url-pattern>/SearchLookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>myservlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>WelcomeFilter</display-name>
    <filter-name>WelcomeFilter</filter-name>
    <filter-class>filter.WelcomeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WelcomeFilter</filter-name>
    <url-pattern>/welcome.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ManageFilter</display-name>
    <filter-name>ManageFilter</filter-name>
    <filter-class>filter.ManageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManageFilter</filter-name>
    <url-pattern>/manage.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
   	<filter-name>ManageFilter</filter-name>
    <url-pattern>/lookbook.jsp</url-pattern>
  </filter-mapping>
</web-app>